body {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    font-family:Roboto, sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: white;
    height: 470px;
}

.insideHeader {
    display: flex;
    flex-flow: column nowrap;
    gap: 100px;
}

.statement {
    display: flex;
    height: 500px;
    gap: 50px;
}

.statementLeft {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    width: 500px;
    align-items: flex-start;
}

.statementRight {
    display: flex;
    background-color: gray;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.heroText {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.secondaryText {
    font-size: 18px;
    color: #E5E7EB;
}

.top {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: auto;
    font-weight: 700;
    font-size: 20px;
}

.footer {
    background-color: #1F2937;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 7px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 8px;
    border: none;
    white-space: nowrap;
    font-weight: bold;
    
}

p {
    margin: 0;
}