body {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    font-family:Roboto, sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: white;
    height: 470px;
}

.insideHeader {
    display: flex;
    flex-flow: column nowrap;
    gap: 100px;
}

.statement {
    display: flex;
    height: 500px;
    gap: 50px;
}

.statementLeft {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    width: 500px;
    align-items: flex-start;
}

.statementRight {
    display: flex;
    background-color: gray;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.heroText {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.secondaryText, a{
    font-size: 18px;
    color: #E5E7EB;
}

.top {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: auto;
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8;
}

#topQuote {
    font-weight: lighter;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;

}

.quoteInside {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex-basis: 800px;
}

.bottomQuote {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    margin-left: auto;
}

.callToAction {
    display: flex;
    align-items: center;
    justify-content: center;
}

.call {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    margin: 100px;
    border-radius: 8px;
    padding: 40px;
    padding-left: 70px;
    padding-right: 70px;
    width: 900px;
    gap: 40px;
}

.callText {
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
}

.signup {
    color: white;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 40px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 7px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 8px;
    white-space: nowrap;
    font-weight: bold;
}

.topButton {
    border: none;
}

.bottomButton {
    border-color: white;
    border-width: 2px;
}

p {
    margin: 0;
}